#root{
    margin: 0 auto;
    padding: 100;
}

@font-face {
    font-family: 'Reggae One';
    src: url(./assets/Fonts/ReggaeOne-Regular.ttf);
  }
  
  @font-face {
    font-family: 'Poppins Light';
    src: url(./assets/Fonts/Poppins-Light.ttf);
  }
  
  @font-face {
    font-family: 'Poppins Regular';
    src: url(./assets/Fonts/Poppins-Regular.ttf);
  }
  
  @font-face {
    font-family: 'Poppins Extrabold';
    src: url(./assets/Fonts/Poppins-ExtraBold.ttf);
  }
  
  @font-face {
    font-family: 'Poppins Bold';
    src: url(./assets/Fonts/Poppins-Bold.ttf);
  }
  

.top-section{
    min-height: 100vh;
}

