:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  padding: 0;
  margin: auto;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  padding: 0;
  margin: auto;
}


.nav {
  background-color: black;
  height: 80px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  padding: 0px 56px;
  font-family: 'Poppins Regular';
  /* position: sticky;
  top: 0; */
}

.nav-logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  /* justify-content: flex-end; */
}

.nav-logo img {
  margin-right: 14px;
}

.nav-logo h1 {
  font-family: 'Reggae One';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.nav-menu {
  margin-left: 100px;
  display: flex;
}

.nav-menu h4 {
  margin-left: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  cursor: pointer;
}

.nav-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-btn h3 {
  color: white;
  cursor: pointer;
  padding: 28px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  transition: ease-out 0.8s;
}

.nav-btn button {
  font-family: 'Poppins Regular';
  background-color: #61C454;
  border: none;
  color: white;
  cursor: pointer;
  padding: 6px 25px;
  border-radius: 12px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
}

/* HERO */

.hero-main {
  font-family: 'Poppins Regular';
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* height: 100vh; */
}

.hero-main h1 {
  font-family: 'Poppins Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 90px;
  text-transform: uppercase;
  margin-bottom: 16px;
  margin-top: 90px;
}

.hero-main h4 {
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
}

.hero-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-btn-img {
  transform: translate(25px, 15px);
}

.hero-btn button {
  font-family: "poppins regular";
  padding: 14px 24px;
  border: none;
  background: #61C454;
  border-radius: 16px;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  color: white;
  cursor: pointer;
}

.disclaimer {
  /* width: 100%; */
  background: #E3CFFC;
  white-space: nowrap;
  padding: 25px 0;
  overflow: hidden;
}

.disclaimer-slide {
  display: inline-block;
  animation: scroll 10s infinite linear;
}

.disclaimer h1 {
  font-style: italic;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  margin: 0 40px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

/* FEATURES */

.features {
  /* height: 100vh; */
  padding: 100px 90px;
}

.features-header h1 {
  font-family: 'Poppins Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 60px;
  margin-bottom: 60px;
}

.features-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.features-container2 {
  display: flex;
  gap: 24px;
}

.pricing_Customer {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.Integrations:hover{
  border: 2px solid #F9BB1D;
}

.Customer-support:hover{
  border: 2px solid #53A3ED;
}

.ease-of-use:hover{
  border: 2px solid #61C454;
}

.pricing:hover{
  border: 2px solid #EE6A5F;
}

.container {
  background-color: #F5F5F5;
  border: 2px solid transparent;
  border-radius: 20px;
  padding: 40px 30px;
}

.container img{
  margin-bottom:0;
}
.container h4 {
  font-family: 'Poppins Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  margin-top: 0;
}

.container p {
  font-family: 'Poppins Regular';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
}


/* REVIEW */

.review {
  min-height: 100vh;
  background-color: #F5F5F5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.review-header h1 {
  font-family: 'Poppins Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 60px;
  margin-bottom: 80px;
}

.review-header {
  text-align: center;
}

.social-reviews {
  display: flex;
  gap: 24px;
  /* flex-wrap: nowrap; */
  /* overflow: hidden; */

  /* display: inline-block; */
  /* animation: scroll 10s infinite linear; */
}

.review-card {
  background-color: #FFFF;
  padding: 24px;
  border-radius: 20px;
}

.review-card p {
  font-family: 'Poppins Regular';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
}

.review-card button {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  border-radius: 20px;
  padding: 10px 24px;
  gap: 8px;
}

/* CTA */

.cta {
  background-color: #F5F5F5;
  padding: 68px 107px;
  font-family: 'Poppins Regular';
}

.cta-main {
  background-color: #FFFF;
  border-radius: 40px;
  padding: 69px 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cta-main h1 {
  font-family: 'Poppins bold';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 60px;
  margin-bottom: 0;
}

.cta-main img {
  margin-top: 0;
  transform: translateY(-40px);
}

.cta-main p {
  margin-top: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
}

.cta-main button {
  padding: 14px 24px;
  gap: 10px;
  border: none;
  border-radius: 16px;
  font-family: 'Poppins Bold';
  cursor: pointer;
}

.cta-lottie {
  display: flex;
}

/* FOOTER */

.footer {
  background-color: #1A1A1A;
  padding: 1.5rem 0;
  color: #FFFF;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: left;
}

.footie-logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 0;
}

.footie-logo h3 {
  font-family: "Reggae One";
}

.footie-logo img {
  margin-right: 14px;
}

.footer-firt-grid {
  display: flex;
  flex-direction: column;
}

.footer-firt-grid p {
  font-family: 'Poppins Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.footer-firt-grid img{
  cursor: pointer;
  margin-left: 16px;
}

.footer-link {
  display: flex;
  gap: 120px
}

.footer-links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footer-links h4 {
  font-family: 'Poppins Regular';
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}


@media screen and (max-width:1150px) {
}

@media screen and (max-width:700px) {
  .hero-main h1 {
    font-size: 80px;
  }

  .hero-main h4{
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
  }
}

@media screen and (max-width:550px) {

}